{% extends "base.html.twig" %}

{% block title %}Accueil vidéos| {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for video in videos %}
                <div class="col s12 m4 l3">
                    <div class="article-card">
                    <a href="{{ path('video_show', {'id': video.id}) }}">
                        <embed src="{{ asset('uploads/videos/' ~ video.video) }}" autostart="false" height="300" width="300" /></embed>
                        {{ video.title }}
                        <h2></a></h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}